# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/node_modules/
/config/*.env
!/config/*.env.example
.features-gen/
.DS_Store
/playwright.config.ts
/config/*.config

tests_keyword_driven/projects/*
!tests_keyword_driven/projects/default
!tests_keyword_driven/projects/default/**
!tests_keyword_driven/projects/myProjectA
!tests_keyword_driven/projects/myProjectA/**
!tests_keyword_driven/projects/myProjectB
!tests_keyword_driven/projects/myProjectB/**