# config/local.env

DB_HOST=localhost
DB_PORT=3316
DB_NAME=backup_ds
DB_USER=root
DB_PASSWORD=root_password

APP_URL=http://localhost:5173
API_URL=http://localhost/api

SETTINGS_FILE=config/default-settings.config

