curl --url 'http://localhost/api/register' \
  -H 'sec-ch-ua-platform: "macOS"' \
  -H 'Referer: http://localhost:5173/' \
  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/154.0.0.0 Safari/537.36' \
  -H 'sec-ch-ua: "Chromium";v="154", "Google Chrome";v="154", "Not A(Brand";v="99"' \
  -H 'content-type: application/json' \
  -H 'sec-ch-ua-mobile: ?0' \
  --data-raw '{"username":"myNameIsBob","email":"bob@example.bom","password":"bobsSillyPass","remember":true,"age_confirmed":true,"tos_agreed":true,"is_lead":"1","cookie_consent":"{\"level\":\"all\",\"content_key\":\"ds_core_cookie_policy\",\"internal_version\":1,\"accepted_at\":1791138594}","captcha_token":"","extra_params":{}}'